.caja1pagina3{
    padding: 30px 0 10px 0;
    color: rgb(0, 0, 0);
}
.caja1pag3 h4{
    color:rgb(0, 0, 0);
}
.caja3pagina3{
    padding: 30px 0 10px 0;
    color: rgb(0, 0, 0);
}
.caja3pag3 h4{
    color: rgb(61, 23, 231);
}
.bg{
    background-color:rgb(0, 0, 0);
}