.videopagina4{
    margin: 30px;
}
.EJEMPLOPAGINA4{
    margin: 80px 50px 80px 0;
}
.caja2pagina4m1{
    color:rgb(14, 14, 14);
    text-align: center;
}
.img1pagina4{
    height: 140px;
}
.caja2pagina4m2{
    margin: 15px 12px;
}
.bg{
    background-color:rgb(0, 0, 0);
}